<div class="example-container">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>View component</h1>
    </div>
    <div>
      <h2>details:</h2>
      <button mat-raised-button class="bg-success text-white float-right">Submit</button>
    </div>
    <div class="space">
      <h4><b>Name:</b><span>{{data}}</span></h4>
      <h4><b>Email:</b><span></span></h4>
      <h4><b>Mobile:</b><span>xxxxxxxx</span></h4>
      <h4><b>Description:</b><span>xxxxxxxx</span></h4>
      <h4><b>Agreement sign:</b></h4>
      <div class="col-md-4">
  </div>
    </div>
  </div>
</div>
